html,
body {
  text-rendering: optimizeLegibility;
  line-height: 24px;
  font-synthesis: none;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-0);
  border-radius: 20px;
  border: 1px solid transparent;
}

:root {
  --color-primary-0: #191d1a;
  --color-primary-1: #3e5f49;
  --color-primary-2: #314036;
  --color-primary-3: #202f25;
  --color-primary-4: #1e3f29;

  --primary-font-color: rgb(249, 245, 249);
  --primary-background-color: #2f2f2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--primary-font-color);
    background-color: var(--primary-background-color);
  }
}
